/*header {
	background-color: dimgray;
	color: #fff;
	padding: 20px;
}

header h1 {
	margin: 0;
}

nav ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

nav ul li {
	display: inline-block;
	margin-right: 20px;
}

nav ul li:last-child {
	margin-right: 0;
}

nav ul li a {
	color: #fff;
	text-decoration: none;
}

.hero-image {
	background-image: url("../img/bild2.jpg"); 
    background-color: darkslategrey;
	background-repeat: no-repeat;
	background-size: cover;
	height: 500px;
	position: relative;
}


body {
    background-image: url("logo_transparent");
    background-repeat: no-repeat;
    /*margin-left: -900;
    margin-right: auto;
    justify-content: center;
    align-items: center;
  }
  
  #login {
    border: 3px solid white;
    height: 31px;
    width: 80px;
    background-color: #2b2b2b;
    color: white;
    cursor: pointer;
    margin-left: 15px;
}

input[type="text"],
input[type="password"] {
    border: 2px solid white;
    height: 40px;
    width: 150px;
    background-color: #000;
    color: white;
}

#password {
    margin-left: 6 px;
}

form {
    width: 600px;
    margin-top: 20px;
    display: block;
}

.labels {
    width: 100%;
    margin: 15px;
}
*/
body {
	font-family: 'Lora', serif;
	background-color:rgb(255, 255, 255);
    background-size: cover;
    text-align: justify;
    color: rgb(0, 0, 0);
}
header {
	background-color:rgb(189, 222, 236);
	color: #000000;
	padding: 20px;

}